/* google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=PT+Serif&family=Scope+One&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Scope One', serif;
}

table {
    width: 80%;
    padding: 3px;
}

h1 {
    color: #455A64;
}

th {
    background: #FF5722;
    color: #FFFFFF;
    font-size: large;
    padding: 3px;
}

th:hover {
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background: #CFD8DC;
}

main {
    margin: 50px;
}