/* google font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=PT+Serif&family=Scope+One&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Scope One', serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    width: 80%;
    padding: 3px;
}

h1 {
    color: #455A64;
}

th {
    background: #FF5722;
    color: #FFFFFF;
    font-size: large;
    padding: 3px;
}

th:hover {
    cursor: pointer;
}

td {
    padding: 20px;
}

tbody tr:nth-child(even) {
    background: #CFD8DC;
}

main {
    margin-left: 50px;
    margin-top: 100px;
    flex: 1 0 auto;
}

main a, main a:visited {
 color: #FF5722;
}

/* form elements */
fieldset {
    border: none;
}

label {
    width: 100px;
    display: inline-block;
}

.btnOffset {
    margin-left: 118px;
}


button, .linkButton {
    background: #FF5722;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

button:hover, .linkButton:hover {
    background: #fe784f;
}

i {
    color: #FF5722;
    margin: 10px;
}

.centre {
    text-align: center;
}

/* header */
header {
    background: #607D8B;
    color: #CFD8DC;
    height: 75px;
    top: 0;
    position: fixed;
    left: 0;
    display: flex;
    width: 100%;
}

header h1 {
    margin-left: 20px;
}

header h1 a, a:visited {
     text-decoration: none;
     color: #CFD8DC; 
}

header nav ul {
    list-style-type: none;
    position: fixed;
    padding: 10px;
    left: 80%;
    height: 100%;
    margin: 0;
    transition: left 0.1s;
}

header nav li {
    display: inline-block;
}

header nav ul a, a:visited {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #CFD8DC; 
}

header nav ul a:hover {
    color: #FFFFFF;
}

footer {
    background-color: #607D8B;
    color: #CFD8DC; 
    text-align: center;
    padding: 20px;
}